body {
    background: #472D2D;
    color: white;
    max-height: 100vh;
}

.vh-100 {
    height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.click-box {
    box-sizing: border-box;
    width: 33.3vw;
    height: 33.3vw;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.sample-img {
    border-radius: 20px;
}

.text-box {
    width: 507px;
    height: 153px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.demo-wrap-structural {
  position: relative;
}

.demo-wrap-structural:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../imgs/structural.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
    border-radius: 25px;
}

.demo-wrap-functional {
  position: relative;
}

.demo-wrap-functional:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../imgs/functional.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
    border-radius: 25px;
}

.demo-content {
  position: relative;
}

#worker-btn {
    background-color: #0096c1;
    position: fixed;
    color: white;
    z-index: 1;
    padding: 0.5rem 1rem;
    top: 10px;
    left: 10px;
}